    /*section 4 */

.section__four{/*clase para tod el contenedor en general o la seccion*/
    width: 100%;/*le damos un tamaño de ancho de la pantalla*/
    height: 90vh;/*le damos una altura al contenedor  */
    background-color: var(--color__primary);/*le damos un color de fondo*/
    background-image: var(--imagen__figura);/*le damos una imagen de fondo en este caso unas figuras */
    background-repeat: no-repeat;/*esta propiedad nos ayuda a q no se multiplique la imagen */
    background-size: 80% 80%;/*esta otra propiedad nos ayuda a darle una altura y anchura a la imagen  */
    background-position: center ;/*esta otra propiedad nos ayuda a posicionar  la imagen a todo el contenedor */
}
.section__four__element{/*clase para todo los elementos contenedor */
    display: flex;/*esta propiedad nos ayuda a distribuir los elementos dentro del contenedor */
    padding: 0 70px;/*nos da el espacio interno de los elementos */
    gap: 3rem;/*nos da una espaciado entre cada elemento */
}
.section__four__texts{/*en esta clase es el contendor de los textos o parrafos */
    display: flex;/*esta propiedad nos ayuda a distribuir los elementos dentro del contenedor */
    flex-direction: column;/*esta otra propiedad nos posiciona los elemntos en columna */
    align-items: start;/*alinea los items al inicio  */
    justify-content: center;/*nos alinea todo el contenedor en el centro */
    padding: 0 20px;/*nos da el espacio interno de los elementos */
    margin-top: 10%;/*le damos un espacio externo hacia arriba */
    color: var(--color__blanco);/*le damos un color general a los textos */
}

.section__four__text{/*esta clase es para el primer texto */
    font-size: 4vw;/*le damos un tamaño a la letra , utilizamos Viewport Width es mas flexible  */
    font-weight: bold;/*le damos un grosor al texto */
}
.section__four__text-p{/*esta clase es para el segundo texto */
    font-size: 2vw;/*le damos un tamaño a la letra , utilizamos Viewport Width es mas flexible  */
    width: 85%;/*le damos un tamaño como un mini contenedor al texto */
    height: 30%;/*le damos una altura */
    margin-bottom: 40px;/*le damos un espacio externo hacia abajo */
}

.section__four__img{/*en esta otra clase es para la imagen */
    width: 30%;/*le damos uan tamaño a la imagen */
    border-radius:50%;/*redondiamos todos los bordes */
    margin-top: 10%;/*le damos un espacio externo hacia arriba */
    margin-right: 9%;/*le damos un espacio externo hacia la derecha  */
}