  /*section 2 */
.section__two{/*esta clase es del todo el contenedor de la seccion 2*/
    background-color: var(--color__secundary);  /*le damos un color de fondo*/
    background-image: url(/img/fondo_figuras.png);/*le damos una imagen de fondo en este caso unas figuras */
    width: 100%;/*le damos un tamaño de ancho de la pantalla*/
    height: 110vh;/*le damos una altura al contenedor  */
    background-repeat: no-repeat;/*esta propiedad nos ayuda a q no se multiplique la imagen */
    background-size: cover;/*esta otra propiedad nos ayuda a q se amplia la imagen a todo el contenedor */
    background-position: center ;/*esta otra propiedad nos ayuda a posicionar  la imagen a todo el contenedor */
    background-size: 100% 100%;/*esta otra propiedad nos ayuda a darle una altura y anchura a la imagen  */
}
.section__two__texts{/*en esta clase es el contendor de los textos o parrafos*/
   display: flex;/*esta propiedad nos ayuda a disribuir los elementos dentro del contenedor */
   flex-direction: column;/*esta otra propiedad nos posiciona los elemntos en columna */
   text-align: center;/*alinea el texto  en el centro */
   color: var(--color__blanco);/*le damos un color general a los textos */
}
.section__two__texts-one{/*esta clase es para el primer texto */
    font-size: 60px;/*le damos un tamaño a la letra  */
    font-weight: bold;/*le damos un grosor al texto */
    margin-top: 5%;/*nos da un espacio exterior hacia arriba hasta el borde  */
    margin-bottom: 20px;;/*nos da un espacio exterior hacia abajo  */
}
.section__two__texts-p{/*esta clase es para el segundo texto */
    width: 40%;/*le damos un tamaño al parrafo en general */
    font-size: 30px;/*le damos un tamaño al texto */
    margin-left: 30%;/*nos da un espacio exterior hacia la izquierda*/
    margin-bottom: 4%;/*nos da un espacio exterior hacia abajo */
}
.section__two__cards{/*en esta es para el contenedor de las tarjetas */
    display: flex;/*esta propiedad nos ayuda a disribuir los elementos dentro del contenedor */
    justify-content: space-evenly;/*esta propiedad distribuye los elementos dentro de un contenedor de manera que haya un espacio igual entre ellos */
    color: var(--color__blanco);/*le damos un color general a los textos */
}
.section__two__cards-general{/*esta clase es para cada una de las tarjetas.es una en general  */
    text-align: center;/*esta nos a linea el texto o el contenedor */
    
}
.section__two__cards-img{/*en esta otra clase es para la imagen */
    border-radius: 200px;/*esta propiedad  da el  redondes de la imagen. o dicha de otra forma , de cada esquina de la imagen nos da un  el bordeado  */
}
.section__two__cards-text-one{/*esta clase es para el primer texto  de las tarjetas */
    font-size: 30px;/*le damos un tamaño a la letra  */
    font-weight: bold;/*le damos un grosor al texto */
    margin-bottom: 20px;/*nos da un espacio exterior hacia abajo */
    margin-top: 20px;/*nos da un espacio exterior hacia arriba hasta el borde  */
}
.section__two__cards-text-p{/*esta clase es para el segundo texto de las tarjetas */
   width: 60%;/*le damos un tamaño al parrafo en general */
   margin-left: 20%;/*nos da un espacio exterior hacia la izquierda */
   font-size: 1vw;/*le damos un tamaño al texto  */
}