.section__seven{
    width: 100%;
    height: 100vh;
    background-color: var(--color__secundary);
    background-image: url(/img/fondo_figuras3.png);
    background-repeat: no-repeat;
    background-size: 90% 80%;
    background-position: bottom  right;
}
.section__seven-texts{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 30px;
}
.section__seven-text{
    color: var(--color__blanco);
    font-size: 3vw;
    margin-bottom: 20px;
}
.section__seven-text-p{
    font-size: 1.2vw;
 color: var(--color__blanco);
 width: 47%;
 text-indent: 10px;

}
.section__seven__content-cards{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2,700px);
    justify-content: center;
    margin-top: 5%;
    gap: 4vw;
   
}
.content-cards{
    display: flex;
}
.content-cards__img{
    width: 8vw;
    height: 8vw;
}
.card_img{
    width: 8vw;
    height: auto;
}
.content-cards__texts{
    text-align: start;
    margin: 0px 30px;
}
.cards__text{
    color: var(--color__blanco);
    font-size: 1.5vw;
   
    
}
.cards__text-p{
    color: var(--color__blanco);
    font-size: 1vw;
}